body {
  cursor: crosshair;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top {
  position: fixed;
  width:50%;
}

.info {
  position: fixed;
  font-size: 26px;
  color: white;
  z-index: 999;
  top: 10px;
  right: 10px;
	padding:0px 0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

#tag-menu {
	display:none;
}


#tag-menu:checked ~ div.drawer {
 animation: slide-out 0.5s ease;
 animation-fill-mode: forwards;
}

/* linear-gradient(to right, , rgba(255,0,0,0)); */
.drawer {
  background: radial-gradient(farthest-corner at 60% 55%, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.75),rgba(255,0,0,0));
	position:fixed;
  top: 0;
	right:-500px;
	height:100%;
	z-index:100;
	width:450px;
	animation: slide-in 0.5s ease;
	animation-fill-mode: forwards;
  margin-top: 0px;
  /* eventually make scroll within a div */
}

#whole {
  text-align: left;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  overflow-y: auto;
  height: inherit;
  height: 90%
}

#whole::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0,0,0,0);; /* or add it to the track */
}

#whole::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

#bar_name {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

#bar_title {
  font-size: 20px;
}

#main {
  font-size: 15px;
}

#citations {
  font-size: 12px;
}

@keyframes slide-in {
 from {right: 0px;}
 to {right: -450px;}
}

@keyframes slide-out {
 from {right: -450px;}
 to {right: 0px;}
}

.big-container {
  position: inline-block;
  width: 25200px;
}
/* image 1  and 2 */

/* row 1 */
.one {
  top: 0;
  left: 0;
  float: left;
}

.two {
  top: 0;
  float: left;
}

.three {
  top: 0;
  float: left;
}

.nineteen {
  top: 0;
  float: left;
}

.twenty {
  top: 0;
  float: left;
}

.twentyone {
  top: 0;
  float: left;
}

/* row 2 */

.four {
  float: left;
}

.five {
  float: left;
}

.six {
  float: left;
}

.twentytwo{
  float: left;
}

.twentythree{
  float: left;
}

.twentyfour{
  float: left;
}

/* row 3 */

.seven {
  float: left;
}

.eight {
  float: left;
}

.nine {
  float: left;
}

.twentyfive{
  float: left;
}

.twentysix{
  float: left;
}

.twentyseven{
  float: left;
}

/* image 3 and 4 */
/* row 1 */
.ten {
  float: left;
}

.eleven {
  float: left;
}

.twelve {
  float: left;
}

.twentyeight {
  float: left;
}

.twentynine {
  float: left;
}

.thirty {
  float: left;
}

/* row 2 */

.thirteen {
  float: left;
}

.fourteen {
  float: left;
}

.fifteen {
  float: left;
}

.thirtyone {
  float: left;
}

.thirtytwo {
  float: left;
}

.thirtythree {
  float: left;
}

/* row 3 */

.sixteen {
  float: left;
}

.seventeen {
  float: left;
}

.eightteen {
  float: left;
}

.thirtyfour {
  float: left;
}

.thirtyfive {
  float: left;
}

.thirtysix {
  float: left;
}






/* set loading image of first corner of image */

/* tile the image to see if it loads better */
